---
version: 3
images:
  base_image:
    name: docker.io/redhat/ubi9:latest
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
additional_build_steps:
  prepend_base:
    - COPY pre-check.sh /runner/hooks/pre_run
    - RUN chmod 755 /runner/hooks/pre_run
#  append_final:
#    - RUN sed -i '/exec "${@}"/i /usr/bin/pre-check.sh' /opt/builder/bin/entrypoint