---
version: 3
images:
  base_image:
    name: docker.io/redhat/ubi9:latest
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
additional_build_steps:
  prepend_base:
    - RUN mkdir -p       /usr/local/bin/validation
    - COPY pre-check.yml /usr/local/bin/validation/pre-check.yml
    - COPY pre-check.sh  /usr/local/bin/validation/pre-check.sh
    - COPY inventory     /usr/local/bin/validation/inventory
    - RUN chmod 755      /usr/local/bin/validation/pre-check.sh
  append_final:
    - RUN sed -i '/exec "${@}"/i /usr/local/bin/validation/pre-check.sh "${@}"' /opt/builder/bin/entrypoint
