---
version: 3
images:
  base_image:
    name: docker.io/redhat/ubi9:latest
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
additional_build_steps:
  prepend_base:
    - RUN whoami
    - COPY /local/custom-ee-entrypoint/pre-check.sh /usr/bin/pre-check.sh
    - RUN chmod 755 /usr/bin/pre-check.sh
  append_final:
    - RUN sed -i '/exec "$@"/i /usr/bin/pre-check.sh' /usr/bin/entrypoint